# Database Configuration
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/user_auth_db

# Security & JWT Configuration
# Note: For production, generate strong keys using: openssl rand -hex 32
JWT_SECRET_KEY=9148d4b31526315ab3d19129be08d66df21a4fa8df575e921d2003c4015f69f2
JWT_REFRESH_SECRET_KEY=51b3d6cb46bbfa7848600cd9cd9086e3b5df5b6e680a6b1070e6e73ad0fcf600
ALGORITHM=HS256

# Expirations
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# Gemini API Configuration
GEMINI_API_KEY_1=
GEMINI_API_KEY_2=
GEMINI_API_KEY_3=
